$dark-background: #121212;
$dark-element: #464444;
$dark-box-color: #242424;
$white-text: #FFF;

.NavBox {
    background-color: $dark-background;
    max-width: 45vh; 
    // 32vh;
}
.menuArea {
    color: $white-text;
    // padding: 1rem;
    width: 100%;
    border-radius: 1vh;
    background-color: $dark-box-color;
}
.boxArea {
    max-height: 40vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1vh;
    }

    &::-webkit-scrollbar-track {
        background: $dark-element;
        border-radius: 10vh;
    }
    
}

.navLinkArea{
    background-color: $dark-background;
}