$dark-background: #121212;
$dark-element: #464444;
$dark-box-color: #242424;
$white-text: #FFF;
.NavBox{
    display: flex;
    background-color: $dark-background;
    padding: 1rem;
    
    font-size: 3vh;
    gap: 1vh;
    
    a{
        color: $dark-element;
    }
    .title{
        padding-left: 2vh;
        // font-size: ;
    }
    .lowerBox{
        height: 50vh;
        display: flex;
    }
    .navItemPlaylist{
        display: flex;
        justify-content: space-between;
    }
    .box{
        color: $white-text;
        padding: 1rem;
        border-radius: 2vh;
        background-color: $dark-box-color;
    }
}