// VarColors:
$dark-background: #121212;
$dark-element: #464444;
$dark-box-color: #242424;
$white-text: #FFF;

// For every Element:
.linksDefaultColor {
    color: $dark-element;
}

// UpperMenu:
.upperMenu {
    padding-left: 1vh;
    padding-top: 1vh;
    border-radius: 1vh
}
.spotifyLogo {
    width: 10vh;
}
.nav-link {
    width: 100%;
    gap: 2vh;
    display: flex;
    align-items: center;
}
.nav-link:hover {
    color: $white-text;
}

// LowerMenu:

.box {
    color: $white-text;
    border-radius: 1vh;
    background-color: $dark-box-color;
}

.flexrow{
    width: 90%;
    flex-direction: row;
}

.flexRowSmall{
    width: 25%;
    display: flex;
}

.leftArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-background;
    
}

.linkBox {
    padding-top: 2vh;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 1vh;
    .link{
        width: 100%;
    }
}